
.img-escudo{
    height: 170px;
    width: auto;
}

.subtitle{
    text-transform: uppercase;
    color: #8d98c1 ;
    font-size: 20px;
}

.img-equipacion{
    height: 100px;
}
.edit-container{
    display:flex;
    justify-content: flex-end;
}
.img-edit{
    height: 40px;
}
.arrow-back{
    position: absolute;
    height: 60px;
    width: 60px;
}
.img-estadio{
    border: 1px solid black;
    border-radius: 5%;
    width: 100%
}
.imgEstadio-modal{
    height: auto;
    width: 100%;
}


@media (max-width: 768px) {
    .subtitle{
        font-size: 16px;
    }
    .img-edit{
        height: 30px;
    }
}

